<mat-form-field style="width: 30%;color:black;margin-left: 10%;margin-top: 5%;">
    <input matInput placeholder="Enter Your Name" color:violet>
</mat-form-field>

<mat-form-field style="width: 30%;color:black;margin-left: 10%;">
  <input type="password" matInput placeholder="Enter Your Password" color:violet>
</mat-form-field>
<br>
<br>
<mat-form-field style="margin-left: 10%;width: 30%;" appearance="fill">
  <mat-select placeholder="Select Department">
    <mat-option value="option">ECE</mat-option>
    <mat-option value="option">EEE</mat-option>
  </mat-select>
</mat-form-field>
<mat-radio-button style="margin-left:10%">Male</mat-radio-button>&nbsp;&nbsp;
<mat-radio-button>Female</mat-radio-button>
<button style="margin-left: 35%;" mat-raised-button>Register</button><br><br>
<a routerLink='../students'><button style="margin-left: 27.5%;" class="kishorebutton" mat-raised-button>Kishore Login Button</button></a>
